[submodule "public"]
	path = master
	url = https://github.com/pamolchanov/pmolchanov.github.io.git
	branch = main
[submodule "master"]
	path = public
	url = https://github.com/pamolchanov/pmolchanov.github.io.git
	branch = main
