.dropdown-menu,
nav#navbar-main li.nav-item {
  font-size: 16px;
  //font-weight: bold;
}

.home-section {
    padding: 30px 30px 0 0;
  }


.featured-image-wrapper {
  position: relative;
  padding-left: 0; /* Override container padding. */
  padding-right: 30px; /* Override container padding. */
}

.featured-image {
  position: relative;
  width: 100%;
  display: block;
  margin-right: 30px;
  // margin-right: 0 auto;
}