.dropdown-menu,
nav#navbar-main li.nav-item {
  font-size: 16px;
  //font-weight: bold;
}

.home-section {
    padding: 30px 30px 0 0;
  }


.featured-image-wrapper {
  position: relative;
  padding-left: 0; /* Override container padding. */
  margin-right: 30px; /* Override container padding. */
  &:hover {
    transform: scale(1.05);
  }
}

.featured-image {
  position: relative;
  width: 100%;
  display: block;
  margin-right: 30px;
  // margin-right: 0 auto;

  &:hover {
    transform: scale(1.05);

    //&:after {
    //  opacity: 0;
    //}
  }
} 
